<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-sm-3">
            <div class="card mb-3">
                <h5 class="card-header">Featured</h5>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action active">
                        Cras justo odio
                        <span class="badge badge-pill badge-danger float-right mt-1">9</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Dapibus ac facilisis in
                        <span class="badge badge-pill badge-danger float-right">7</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1"
                        aria-disabled="true">Vestibulum at eros</a>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Featured</h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">
                        With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card">
                <h5 class="card-header">Home</h5>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Password</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i = 0; i < users.length; i++) { %>
                                <tr>
                                    <th scope="row"><%=i+1%></th>
                                    <td><%=users[i].name%></td>
                                    <td><%=users[i].email%></td>
                                    <td><%=users[i].password%></td>
                                </tr>
                           <% }%>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary btn-lg btn-block">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        Add Student
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>