<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chọn ghế</title>
    <%- include('./partials/head.ejs') %>
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <link rel="stylesheet" href="/public/css/chooseSeat.css">
</head>

<body style="background-color: #131a20;">
    <div id="site-content">
        <!-- header -->
        <%- include('./partials/header.ejs') %>

        <main class="main-container">
            <div class="breadcrumbs">
                <a href="/">Trang chủ</a>
                <a href="/showFilm">Phim đang chiếu</a>
                <span><%= filmName %></span>
            </div>

            <div class="meomeo">
                <ul class="showcase" style="margin: auto; padding: auto; width: fit-content;">
                    <li>
                        <div class="seat"></div>
                        <small>Ghế trống</small>
                    </li>
                    <li>
                        <div class="seat selected"></div>
                        <small>Ghế của bạn</small>
                    </li>
                    <li>
                        <div class="seat occupied"></div>
                        <small>Ghế của người ta</small>
                    </li>
                </ul>

                <div class="container1" style="width: fit-content;">
                    <div class="screen"></div>

                    <% for( let i = 0; i < 6; i++ ) { %>
                        <div class="row">
                            <% for( let j = 0; j < 17; j++ ) { %>
                            <% let seat = '' %>
                            <% if (i == 0) { %>
                            <% seat = 'A'+j; %>
                            <% } %>
                            <% if (i == 1) { %>
                            <% seat = 'B'+j; %>
                            <% } %>
                            <% if (i == 2) { %>
                            <% seat = 'C'+j; %>
                            <% } %>
                            <% if (i == 3) { %>
                            <% seat = 'D'+j; %>
                            <% } %>
                            <% if (i == 4) { %>
                            <% seat = 'E'+j; %>
                            <% } %>
                            <% if (i == 5) { %>
                            <% seat = 'F'+j; %>
                            <% } %>
                            <% let isOccupied = 0;%> 
                            <% for( let i = 0; i < occupiedSeatNames.length; i++ ) { %>
                                <% if (seat == occupiedSeatNames[i]) { %>
                                    <% isOccupied = 1; %> 
                                    <% break; %> 
                                <% } %>
                            <% } %>
                            <% if (isOccupied) { %>
                                <div data-seat='<%= seat %>' class="seat occupied"><%= seat %></div>
                            <% } %>
                            <% if (!isOccupied) { %>
                                <div data-seat='<%= seat %>' class="seat"><%= seat %></div>
                            <% } %>
                            <% } %>
                        </div>
                    <% } %>

                    <div style="margin-bottom: 5px; margin: auto; padding-top: 20px; width: fit-content;">
                        <form action="/users/checkout" method="POST" id='myForm'>
                            <textarea id="textField" name="checkedSeats" style="display: none;"></textarea>
                            <input type="hidden" value="<%= scheduleID %>" name="scheduleID">
                            <input data-price='<%= price %> ' type="hidden" value='' name="amount" id='amount'>
                            <button id='checkout' type="button" class="btn btn-primary btn-lg">Check out</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <!-- footer -->
        <%- include('./partials/footer.ejs') %>
    </div>

    <script type='text/javascript'>
        const container = document.querySelector('.container1');
        let textField = [];
        container.addEventListener('click', function (e) {
            if (e.target.classList.contains('seat') && !e.target.classList.contains('occupied')) {
                e.target.classList.toggle('selected');
                let ID = $(e.target).data('seat');
                if (e.target.classList.contains('selected')) {
                    console.log('selected');
                    textField.push(ID);
                    console.log(textField)
                } else {
                    console.log('unselected');
                    textField.splice(textField.indexOf(ID), 1);
                    console.log(textField)
                }
                $('#textField').text(textField);
            }
        });

        $('#myForm').children('button#checkout').on('click', (e)=>{
            console.log('click handle');
            $('input#amount').val(textField.length * (+$('#amount').data('price')));
            console.log(textField.length * (+$('#amount').data('price')));
            $('#myForm').submit();
        });
    </script>
</body>

</html>