<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Trang chủ</title>
    <!-- <link rel="stylesheet" href="/css/index.css"> -->
</head>

<body>
    <div id="site-content">
        <!-- header -->
        <% if (isAuthenticated) { %>
            <%- include('./partials/headerAuth.ejs') %>
        <% } %>
        <% if (!isAuthenticated) { %>
            <%- include('./partials/header.ejs') %>
        <% } %>

        <main class="main-content">
            <div class="container">
                <div class="page">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="slider">
                                <ul class="slides">
                                    <% for( let i = 0; i < films.length; i++ ) { %>
                                        <img class="activeForm" data-id='<%= films[i]._id %>'></img>
                                        <li data-id='<%= films[i]._id%>' class="clickZone"><a href="javascript:()=>{return false;}"><img src="<%= films[i].poster %>" data-id='<%= films[i]._id%>' width="690" height="410"></img></a></li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <% let length = 3 %> 
                                <% if (films.length < length) { %>
                                    <% length = films.length %> 
                                <% } %>
                                <% for( let i = 0; i < length; i++ ) { %>
                                    <div class="latest-movie">
                                        <a class="clickZone" href="javascript:()=>{return false;}"><img src="<%= films[i].poster %>" data-id='<%= films[i]._id%>' width="690" height="410"></img></a>
                                    </div>
                                <% } %>
                                <!-- <div class="col-sm-6 col-md-12">
                                    <div class="latest-movie">
                                        <a href="#"><img src="/public/dummy/thumb-1.jpg" alt="Movie 1"></a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div> <!-- .row -->
                    <div class="row">
                        <!-- <div class="col-sm-6 col-md-3">
                            <div class="latest-movie">
                                <a href="#"><img src="/public/dummy/thumb-3.jpg" alt="Movie 3"></a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="latest-movie">
                                <a href="#"><img src="/public/dummy/thumb-4.jpg" alt="Movie 4"></a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="latest-movie">
                                <a href="#"><img src="/public/dummy/thumb-5.jpg" alt="Movie 5"></a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="latest-movie">
                                <a href="#"><img src="/public/dummy/thumb-6.jpg" alt="Movie 6"></a>
                            </div>
                        </div> -->
                    </div> <!-- .row -->

                    <div class="row">
                        <% let count = 0 %> 
                        <% let months = ['Tháng 1', 'Tháng 2', 'Tháng 3'] %> 
                        <% for( let i = 0; i < 3; i++ ) { %>
                            <div class="col-md-4">
                                <h2 class="section-title"><%= months[i] %> </h2>
                                <p>Phim sắp chiếu trong <%= months[i] %> </p>
                                <ul class="movie-schedule">
                                    <% for( let j = 0; j < 3 ; j++ ) { %>
                                        <li>
                                            <% if (count >= films.length) { %>
                                                <% break %> 
                                            <% } %>
                                            <div class="date">Khuyến mãi lớn</div>
                                            <h2 class="entry-title"><a href="javascript:()=>{return false;}" class="clickZone" data-id='<%= films[count]._id %>' ><%= films[count].name %> </a></h2>
                                            <% count++ %> 
                                        </li>
                                    <% } %>
                                </ul> <!-- .movie-schedule -->
                            </div>
                        <% } %>
                    </div>
                </div>
            </div> <!-- .container -->
        </main>

        <!-- footer -->
        <%- include('./partials/footer.ejs') %>
    </div>

    <form id="myForm" action="/users/nowShowingToMovieDetail" method="POST">
        <input type="hidden" name="movieID" id="movieID">
    </form>

    <!-- Default snippet for navigation -->
    <script src="/public/js/jquery-1.11.1.min.js"></script>
    <script src="/public/js/plugins.js"></script>
    <script src="/public/js/app.js"></script>

    <script type='text/javascript'>
        $('.clickZone').on('click', (e) => {
            // const ID = $('#activeForm').data('id');
            const ID = e.target.getAttribute('data-id');
            console.log(e);
            $('#myForm').children('input#movieID').val(ID);
            $('#myForm').submit();
        });
    </script>
</body>

</html>