<a class="btn btn-primary" href="/" role="button">
    <i class="fa fa-home" aria-hidden="true"></i>
        HOME
</a>
<div class="container">
    <h2><%= film.name %> </h2><br>
    <img src="<%= film.poster%>" alt="<%= film.poster%>" height="300px" width="200px"><br>
    <p>Tác giả: <%= film.director %> </p>
    <p>Diễn viên: <%= film.cast %> </p>
    <p>Thể loại: <%= film.genre %> </p>
    <p>Thời lượng: <%= film.runningTime %> </p>
    <p>Phát hành: <%= releaseTime %> </p>
    <button class="booking btn btn-primary" data-id='<%= film._id %>' class='btn btn-danger'>Đặt vé</button>
    <p>Mô tả: <%= film.description %> </p>
    <iframe width="560" height="315" src="<%= film.trailer%>" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>
<form id="myForm" action="/users/getSchedule" method="POST">
    <input type="hidden" name="movieID" id="movieID">
</form>

<script type='text/javascript'>
    $('.booking').on('click', (e)=>{
        const ID = $(e.target).data('id');
        $('#myForm').children('input#movieID').val(ID);
        $('#myForm').submit();
    });
</script>